
 <input type="text" class="form-control" id="search-text" [(ngModel)]="searchInput" aria-describedby="search-text" 
  placeholder="Search by name" 
 autofocus>
  <div *ngFor="let project of neededArray"> 
      <h1>{{project.value.firstName}} </h1>
      <img [src]=project.value.pic alt="Italian Trulli">
      <p class="city">Email: {{project.value.email}}</p>  &nbsp;
      <p class="city">Company: {{project.value.company}}</p>  &nbsp;
      <p class="city">Skill: {{project.value.skill}}</p>  &nbsp;
  
  </div>
